@media screen and (max-width: 360px) {
    .banner-contents,
    .donate-today {
        width: 100%;
      }
     
      .donate-today-cards {
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;
    
    }
    
}

@media screen and (min-width: 360px) and (max-width: 425px){
    .banner-contents {
        width: 100%;
      }
      .donate-today-cards {
        flex-wrap: wrap;
        gap: 1.1rem;
    
    }
    
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .banner-contents {
        width: 100%;
      }
      .donate-today-cards {
        flex-wrap: wrap;
        align-items: center;
        gap: 1.1rem;
    
    }
    
}